@import "compass";
@import "compass/css3";

$wrapper-class: "wrapper";
$row-class: "row";
$column-class: "col";

$row-width: 980px; // width of content within a row.
$gutter: 20px;     // set gutter to 0 if want full fractions, no gutters.

$num-columns: 8;

$big-break: $row-width + $gutter;
$medium-break: 768px;
$small-break: 568px;

*, *:after, *:before {
  @include box-sizing(border-box);
}

.#{$wrapper-class} {
  width: 100%;
}

.#{$row-class} {
  clear: both;
  margin: 0 auto;
  max-width: $row-width + $gutter;
  position: relative;
  width: $row-width + $gutter;
  @include transition(width 190ms ease-out);

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

[class*='#{$column-class}-'] {
  @include float-left;
  padding: 0 $gutter/2;
}

[class*='#{$column-class}-'] + [class*='#{$column-class}-']:last-child {
  @include float-right;
}

.#{$column-class}-full, .#{$column-class}-1-1 {
  width: 100%;
}

@for $i from 2 through $num-columns {
  @for $j from 1 through $i - 1 {
    .#{$column-class}-#{$j}-#{$i} {
      width: ($j / $i) * 100%;
    }
  }
}

@media (max-width: $big-break) {
  .#{$row-class} {
    padding: 0 $gutter/2;
    width: 100%;
  }
}

// @media (max-width: $medium-break) {
//
// }

@media (screen and max-width: $medium-break) {
  [class*='#{$column-class}-'] {
    width: 100%;
  }
}
