@import "compass";
@import "compass/css3";

$row-class: "row";
$column-class: "col";
$block-class: "block";

$row-width: 980px; // max-width of content within a row.
$gutter: 20px;     // set gutter to 0 if want full fractions, no gutters.

$num-columns: 12;

$grid-break: $row-width + $gutter;
$phone-break: 767px;

.#{$row-class}, .#{$row-class}:after, .#{$row-class}:before,
.#{$column-class}, .#{$column-class}:after, .#{$column-class}:before {
  @include box-sizing(border-box);
}

.#{$row-class} {
  margin: 0 auto;
  max-width: $row-width + $gutter;
  position: relative;
  width: 100%;

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  .#{$row-class} {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 (-$gutter/2);
  }
}

.#{$column-class} {
  @include float-left;
  padding: 0 $gutter/2;
}

.#{$column-class}--whole, .#{$column-class}--1-1 {
  width: 100%;
}

@for $i from 2 through $num-columns {
  @for $j from 1 through $i - 1 {
    .#{$column-class}--#{$j}-#{$i},
    .#{$block-class} .#{$column-class}--#{$j}-#{$i} {
      width: ($j / $i) * 100%;
    }
  }
}

@media (screen and max-width: $grid-break) {
  .#{$row-class} {
    padding: 0 $gutter/2;
    width: 100%;

    .#{$row-class} {
      padding: 0;
    }
  }
}


@media (screen and max-width: $phone-break) {
  .#{$column-class} {
    width: 100%;
  }
}
