@import "compass";
@import "compass/reset";
@import "compass/css3";

$wrapper-class: "wrapper";
$row-class: "content";
$column-class: "col-span";

$row-width: 980px;
$gutter: 20px;

$num-columns: 8;

$big-break: 1280px;
$medium-break: 800px;
$small-break: 480px;

*, *:after, *:before {
  @include box-sizing(border-box);
}

.#{$wrapper-class} {
  width: 100%;
}

.#{$row-class} {
  clear: both;
  margin: 0 auto;
  max-width: $row-width + $gutter * 2;
  padding-left: $gutter;
  width: $row-width;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

[class*='#{$column-class}-'] {
  @include float-left;
  padding-right: $gutter;
}

.#{$column-class}-1-1 {
  width: 100%;
}

@for $i from 2 through $num-columns {
  @for $j from 1 through $i - 1 {
    .#{$column-class}-#{$j}-#{$i} {
      width: ($j / $i) * 100%;
    }
  }
}

@media (screen and max-width: $big-break) {
  .#{$row-class} {
    width: 100%;
  }
}

@media (screen and max-width: $medium-break) {
  [class*='#{$column-class}-'] {
    padding-bottom: $gutter;
  }
}

@media (screen and max-width: $small-break) {
  [class*='#{$column-class}-'] {
    width: 100%;
  }
}