@import "compass";
@import "compass/reset";
@import "compass/css3";

$wrapper-class: "wrapper";
$row-class: "content";
$column-class: "span";

$row-width: 980px;
$gutter: 20px;

$num-columns: 12;

$big-break: 1280px;
$medium-break: 800px;
$small-break: 480px;

@mixin breakpoint($point) {
  @if $point == big {
    @media (screen and max-width: $big-break) { @content; }
  }
  @else if $point == medium {
    @media (screen and max-width: $medium-break) { @content; }
  }
  @else if $point == small {
    @media (screen and max-width: $small-break)  { @content; }
  }
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

.#{$wrapper-class} {
  width: 100%;
}

.#{$row-class} {
  clear: both;
  margin: 0 auto;
  max-width: $row-width + $gutter * 2;
  padding-left: $gutter;
  width: $row-width;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

[class*='#{$column-class}-'] {
  @include float-left;
  padding-right: $gutter;
}

@for $i from 1 through $num-columns {
  .#{$column-class}-#{$i} {
    width: $i / $num-columns * 100%;
  }
}

@include breakpoint(big) {
  .#{$row-class} {
    width: 100%;
  }
}

@include breakpoint(medium) {
  [class*='#{$column-class}-'] {
    padding-bottom: $gutter;
  }

  .#{$column-class}-2 {
    width: (1 / 3) * 100%;
  }

  .#{$column-class}-3 {
    width: (1 / 2) * 100%;
  }
}

@include breakpoint(small) {
  [class*='#{$column-class}-'] {
    width: 100%;
  }
}