@import "compass";
@import "compass/reset";
@import "compass/css3";

$wrapper-class: "wrapper"; // full width wrapper
$row-class: "row";     // content within a wrapper (or not). like a row
$column-class: "col"; // column class prefix

$row-width: 980px;         // max content width
$gutter: 20px;             // gutter between columns

$num-columns: 8;           // number of max columns 

$big-break: 1280px;        // responsive breaking points
$medium-break: 800px;      // most tablets in portrait, iphone5 landscape
$small-break: 480px;       // most mobiles in portrait, iphone3-4S in landscape

*, *:after, *:before {
  @include box-sizing(border-box);
}

.#{$wrapper-class} {
  width: 100%;
}

.#{$row-class} {
  clear: both;
  margin: 0 auto;
  max-width: $row-width + $gutter * 2;
  padding-left: $gutter;
  width: $row-width;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

[class*='#{$column-class}-'] {
  @include float-left;
  padding-right: $gutter;
}

.#{$column-class}-1-1 {
  width: 100%;
}

@for $i from 2 through $num-columns {
  @for $j from 1 through $i - 1 {
    .#{$column-class}-#{$j}-#{$i} {
      width: ($j / $i) * 100%;
    }
  }
}

@media (screen and max-width: $big-break) {
  .#{$row-class} {
    width: 100%;
  }
}

@media (screen and max-width: $medium-break) {
  [class*='#{$column-class}-'] {
    padding-bottom: $gutter;
  }
}

@media (screen and max-width: $small-break) {
  [class*='#{$column-class}-'] {
    width: 100%;
  }
}